@model NLIH.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">New Life Internation Hospital</td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Username)
                    </td>
                    <td>@Html.EditorFor(model => model.Username)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Username)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <lable class="field-validation-error">
                            @if (ViewBag.Message != null)
                            {
                                <span>@ViewBag.Message</span>
                            }
                        </lable>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="login" value="Login" />
                        <input type="reset" name="cancel" value="Cancel" />
                    </td>
                </tr>

            </table>
        }
    </div>

    
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
